

h1 {
    color: whitesmoke;
}

h2 {
    color: whitesmoke;
    text-align: center;
    font-size: 35px;
}

p {
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
}

.tituloPrincipal {
    color: whitesmoke;
}

.logo {
    width: 200px;
    cursor: pointer;

}

header {
    display: flex;
    align-items: center;
    background-color: #1F1F1F;
    position: sticky;
    top: 0;
}

li {
    display: inline-block;
    justify-content: center;
}

a {
    color: white;
}

body {
    background-color: #1F1F1F;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    color: whitesmoke;
}

.gridPadre {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridHijo {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}


.noticiaImagen {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.sub {
    text-decoration: none;
    padding: 20px; 
}


.map {
    margin: 5em auto;
    width: 500px;
    height: 500px;
}

.map iframe{
    height: 100%;
    width: 100%;
}

@media (min-width: 500px) and (max-width: 900px) {

}

.tituloHover:hover {
    color: grey;
}

.subHover:hover {
    color: grey;
}

.logo {
    width: 150px;
}

.encabezado {
    background-color: #1F1F1F;
}

.menuNav a {
    font-size: 1.4rem;
    color: whitesmoke;
}

.menuNav a:hover {
    color: grey;
}

.card {
    background-color: #1F1F1F;
    color: whitesmoke;
}


.btn {
    background-image: linear-gradient(to right, #7b4397, #dc2430);
    padding: 10px;
    color: whitesmoke;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 1s;
}


.btn:hover {
    background-color: #0560b2;
    height: 50px;
    width: 80px;
}